@layer design-system-rte;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-align: center;
  font-family: 'Nunito Sans Variable', system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.select-input-wrapper [data-label-position] {
    width: 350px !important;
}